.modal__container {
  background-color: white;
  width: 430px;
  border-radius: 9px;
  align-self: center;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  z-index: 10;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 450px) {
  .modal__container {
    width: 415px;
  }
}

@media screen and (max-width: 425px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }
}
