.profile__add-photo-button {
    margin-left: auto;
    justify-self: flex-end;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 0;
    padding: 0;
    background-size: contain;
    transition: 0.5s;
}

@media screen and (max-width: 425px) {
    .profile__add-photo-button {
        background-image: url(../../../images/add-button425.svg);
        width: 100%;
        background-position: center;
    }
}

.profile__add-photo-button:hover {
    background-image: url(../../../images/add-button-hover.svg);
}